h1 {
  font-size: 60px;
}

h2 {
  color: #031C4E;
  font-size: 36px;
}

h3 {
  color:  #031C4E;
}

p {
  font-size: 18px;
  color: #5C6989;
}

#header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: white;
  z-index: 1040;
}
#header_top img {
  width: 150px;
  vertical-align: middle;
}

.my_list {
  margin-bottom: 0px;
}
.my_list li {
  font-size: 16px;
  padding-left: 10px;
  vertical-align: middle;
}
.my_list a {
  color: hsl(221,93%,16%);
}
.my_list a:hover {
  text-decoration: none;
  color: #0062FF;
}

.personal_btn {
  border: 1px solid #0062FF;
  color: #0062FF !important;
}
.personal_btn:hover {
  background-color: #0062FF;
  color: white !important;
}

.glyphicon.glyphicon-align-justify {
  font-size: 20px;
  vertical-align: middle;
}

#header_bottom {
  width: 100%;
  /* height: 500px; */
  background-color: #0161FF;
  margin-top: 60px;
  color: white;
  padding-bottom: 60px;
}
#header_bottom p {
  color: white;
}
#title_head_btt_box {
  margin-top: 50px;
}

#registration_head_box {
  width: 100%;
  /* height: 350px; */
  background-color: white;
  border-radius: 8px;
  margin-top: 40px;
  padding-bottom: 10px;
}
#registration_head_box h3 {
  color: hsl(221,93%,16%);
  padding-top: 30px;
  padding-bottom: 10px;
}
#registration_head_box h3 span {
  color: #0161FF;
}

#form_box {
  width: 90%;
  margin: auto;
}
.my_block_btn {
  height: 28px;
  text-align: center;
  font-size: 11px;
}
.terms_box {
  margin-top: 10px;
}
.terms_box p {
  color: black !important;
  font-size: 12px;
}

#customer_main_box {
  background-color: #F3F5F9;
  padding-top: 60px;
}
#customer_main_box p {
  color: #7F8AA2;
}
#customer_main_box a {
  font-size: 15px;
  color: #006AFF;
}
.customer_box {
  display: inline-block;
  width: 16%;
  height: 170px;
}

.customer_box img {
  width: 100%;
  height: 100%;
}

#deploy_scale {
  padding-top: 60px;
  padding-bottom: 50px;
}

/* #deploy_scale p {
  color: #9CA3B6;
} */
.container > p {
  font-size: 20px;
}


.wrapper_80 {
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

#normal_list {
  list-style: none;
  padding-top: 30px;
  padding-left: 0;
}
#normal_list li {
  padding-bottom: 20px;
  margin-left: 0;
  padding-left: 0;
  font-size: 20px;
}
#normal_list a {
  color: #5C6989;
}

.deploy_scale_height_box {
  height: 180px;
}
.deploy_scale_height_box h3 {
  font-size: 18px;
}
.deploy_scale_height_box p {
  font-size: 16px;

}

#designed_for {
  padding-top: 60px;
  background-color: #F3F5F9;
}
#designed_image_box {
  width: 50%;
  margin: auto;
  padding-top: 60px;
}
#designed_for p {
  padding-top: 30px;
}
#designed_image_box img {
  width: 100%;
}
#designed_image_box p {
  color:  #031C4E;
}

#the_features {
  padding-top: 60px;
  padding-bottom: 60px;
}
#the_features h2 {
  padding-bottom: 30px;
}
#the_features p {
  font-size: 16px;
}
#the_features a {
  font-size: 16px;
  color: #0062FF;
}

#service {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #002EAA;
  color: white;
}
#service h2 {
  text-align: center;
  color: white;
}
#service a {
  color: #0062FF;
  font-size: 12px;
}

.container [class*="col-"] .row [class*="col-"] {
  border-bottom: 1px solid white;
}

@media screen and (max-width: 767px) {

  .customer_box {
    width: 45%;
    padding: 0 15px;
  }

  .customer_box img {
    float: left;
    text-align: right;
  }

  #the_features img {
    padding-top: 20px;
  }
}
