h1 {
  font-size: 60px;
}

h2 {
  color: #031C4E;
  font-size: 36px;
  font-weight: 700;
}

h3 {
  color:  #031C4E;
}

p {
  font-size: 18px;
  color: #5C6989;
}

#header_top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: white;
  z-index: 1040;
}
#header_top img {
  width: 150px;
  vertical-align: middle;
}

.my_list {
  margin-bottom: 0px;
}
.my_list li {
  font-size: 16px;
  padding-left: 10px;
  vertical-align: middle;
}
.my_list a {
  color: hsl(221,93%,16%);
}
.my_list a:hover {
  text-decoration: none;
  color: #0062FF;
}

.personal_btn {
  border: 1px solid #0062FF;
  color: #0062FF !important;
}
.personal_btn:hover {
  background-color: #0062FF;
  color: white !important;
}

.glyphicon.glyphicon-align-justify {
  font-size: 20px;
  vertical-align: middle;
}

#header_bottom {
  width: 100%;
  /* height: 500px; */
  background-color: #0161FF;
  margin-top: 60px;
  color: white;
  padding-bottom: 60px;
}
#header_bottom p {
  color: white;
}
#title_head_btt_box {
  margin-top: 50px;
}

#registration_head_box {
  width: 100%;
  /* height: 350px; */
  background-color: white;
  border-radius: 8px;
  margin-top: 40px;
  padding-bottom: 10px;
}
#registration_head_box h3 {
  color: hsl(221,93%,16%);
  padding-top: 30px;
  padding-bottom: 10px;
}
#registration_head_box h3 span {
  color: #0161FF;
}
.btn_relative {
  position: relative;
}
#form_box i {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
  font-size: 20px;
}

#form_box {
  width: 90%;
  margin: auto;
}
.my_block_btn {
  height: 28px;
  text-align: center;
  font-size: 11px;
}
.terms_box {
  margin-top: 10px;
}
.terms_box p {
  color: black !important;
  font-size: 12px;
}

#customer_main_box {
  background-color: #F3F5F9;
  padding-top: 60px;
  padding-bottom: 50px;
}
#customer_main_box p {
  color: #7F8AA2;
}
#customer_main_box a {
  font-size: 15px;
  color: #006AFF;
}
.customer_box {
  display: inline-block;
  width: 16%;
  height: 170px;
}

.customer_box img {
  width: 100%;
  height: 100%;
}

#deploy_scale {
  padding-top: 60px;
  padding-bottom: 50px;
}

/* #deploy_scale p {
  color: #9CA3B6;
} */
.container > p {
  font-size: 20px;
}


.wrapper_80 {
  width: 80%;
  margin: auto;
  padding-top: 30px;
}

#normal_list {
  list-style: none;
  padding-top: 30px;
  padding-left: 0;
}
#normal_list li {
  padding-bottom: 20px;
  margin-left: 0;
  padding-left: 10px;;
  font-size: 20px;
  border-left: 2px solid #E5E8ED;
}
#normal_list li:hover {
  border-left: 2px solid #0061FF;
}
#normal_list a {
  color: #5C6989;
}
#normal_list a:hover {
  color: #031C4E;
  text-decoration: none;
}

.deploy_scale_height_box {
  height: 180px;
}
.deploy_scale_height_box h3 {
  font-size: 18px;
}
.deploy_scale_height_box p {
  font-size: 16px;

}

#designed_for {
  padding-top: 60px;
  background-color: #F3F5F9;
  padding-bottom: 80px;
}
#designed_image_box {
  position: relative;
  width: 60%;
  margin: auto;
  padding-top: 60px;
}
#designed_for p {
  padding-top: 30px;
}
#designed_image_box img {
  width: 80%;
}
#designed_image_box p {
  color:  #031C4E;
}
#designed_image_box a {
  display: inline-block;
  float: left;
}
#designed_image_box a:last-child {
  float: right;
}
.angle_icon_absolute_left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}
.angle_icon_absolute_right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}
.carousel_icon {
  font-size: 50px;
}

.select_carousel_btn {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  border: 2px solid #0069FF;
  padding: 4px;
  background-color: transparent;
}
.carousel_btn_box button:hover {
  background-color: #0069FF;
}


#the_features {
  padding-top: 60px;
  padding-bottom: 90px;
}
#the_features h2 {
  padding-bottom: 30px;
}
#the_features p {
  font-size: 16px;
}
#the_features a {
  font-size: 16px;
  color: #0062FF;
}
#the_features a:hover {
  color: #1633FF;
  text-decoration: none;
}


#service {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #0030AB;
  color: white;
}
#service h2 {
  text-align: center;
  color: white;
}
#service a {
  color: #00D3D1;
  font-size: 12px;
  font-weight: 700;
}
#service span {
  padding-bottom: 20px;
}

.border_bottom {
  border-bottom: 1px solid white;
}


.container [class*="col-"] .row [class*="col-"] {
  padding-bottom: 10px;
  padding-top: 10px;
}

.city_color {
  color: #98ADE0;
}


#development {
  background-color: #F3F5F9;
  padding-top: 60px;
  padding-bottom: 80px;
}
#development_relative_box {
  position: relative;
  width: 60%;
  margin: auto
}
#development_white_box {
  width: 80%;
  margin: auto;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
}
#development_white_box p {
  margin: 0;
}
.development_margin {
  margin-top: 20px;
}
.color_blue p {
  color: #031C4E;
}
.development_margin a {
  color: #076FFF;
  font-size: 16px;
  font-weight: 700;
}
#development_relative_box .carousel_btn_box {
  padding-top: 30px;
}

#footer_top {
  background-color: #0027A1;
  padding-top: 60px;
  padding-bottom: 50px;
}
#footer_top h2 {
  color: white;
}
#footer_top_btn {
  margin-top: 30px;
}
#footer_top_btn a {
  color: #076FFF;
  font-weight: 700;
}

#footer_bottom {
  background-color: #031C4E;
  padding-top: 60px;
  padding-bottom: 50px;
}
#footer_bottom h4 {
  color: white;
}
#footer_bottom a {
  color: #A5ACBC;
}
#footer_bottom a:hover {
  color: white;
  text-decoration: none;
}
#footer_bottom li {
  padding-bottom: 10px;
}
#footer_bottom p {
  font-size: 16px;
  padding-top: 10px;
  color: #79849D;
}
#footer_bottom span {
  font-size: 15px;
  color: #586685;
}
#footer_bottom i {
  font-size: 25px;
  color: #7A859D;
}
#footer_bottom i:hover {
  color: white;
}
.footer_normal_list {
  padding-left: 0px;
  list-style: none;
}


#shark_fixed_box  {
}
#Shark_help {
  width: 20%;
  background-color: white;
  color: #031C4E;
  border-radius: 5px;
  padding: 3px;
}
#shark_img {
  width: 70px;
}
#shark_img img {
  width: 100%;
  margin-left: 100px;
  border-radius: 5px;
}
#shark_img span {
  position: absolute;
  right: -150%;
  bottom: 70%;
  border: 4px solid white;
  border-radius: 50%;
  background-color: red;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
}
.fixed_inline_shark {
  position: fixed;
  bottom: 4%;
  right: 9%;
  display: inline-block;
}




@media screen and (max-width: 767px) {

  .customer_box {
    width: 45%;
    padding: 0 15px;
  }

  .customer_box img {
    float: left;
    text-align: right;
  }

  .deploy_scale_height_box {
    height: auto;
  }

  #the_features img {
    padding-top: 20px;
  }

  #development_white_box img {
    width: 100%;
  }
}
